<div class="d-flex justify-content-center">
  <form #calculatorForm="ngForm">
    <div class="form-group">
      <input
        type="text"
        name="screen"
        placeholder="0"
        disabled
        [(ngModel)]="screenString"
      />
    </div>
    <div class="d-flex justify-content-center">
      <button
        type="button"
        class="btn btn-secondary round-button"
        (click)="enterSymbol(calculatorForm, 1)"
      >
        1
      </button>
      <button
        type="button"
        class="btn btn-secondary round-button"
        (click)="enterSymbol(calculatorForm, 2)"
      >
        2
      </button>
      <button
        type="button"
        class="btn btn-secondary round-button"
        (click)="enterSymbol(calculatorForm, 3)"
      >
        3
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button
        type="button"
        class="btn btn-secondary round-button"
        (click)="enterSymbol(calculatorForm, 4)"
      >
        4
      </button>
      <button
        type="button"
        class="btn btn-secondary round-button"
        (click)="enterSymbol(calculatorForm, 5)"
      >
        5
      </button>
      <button
        type="button"
        class="btn btn-secondary round-button"
        (click)="enterSymbol(calculatorForm, 6)"
      >
        6
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button
        type="button"
        class="btn btn-secondary round-button"
        (click)="enterSymbol(calculatorForm, 7)"
      >
        7
      </button>
      <button
        type="button"
        class="btn btn-secondary round-button"
        (click)="enterSymbol(calculatorForm, 8)"
      >
        8
      </button>
      <button
        type="button"
        class="btn btn-secondary round-button"
        (click)="enterSymbol(calculatorForm, 9)"
      >
        9
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-success round-button">*</button>
      <button type="button" class="btn btn-success round-button">/</button>
      <button type="button" class="btn btn-success round-button">+</button>
    </div>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-success round-button">=</button>
      <button
        type="button"
        class="btn btn-success round-button"
        (click)="reset()"
      >
        C
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-success round-button">-</button>
    </div>
  </form>
</div>
